extends layout

block content
  h1 #{title}

  form(method='POST' action='')
    div.form-group
    
      label(for='name') Item name:
      input#name.form-control(type='text', placeholder='Bathroom, Fridge etc.' name='name' value=(undefined===category ? '' : category.name) required='true' )

      label(for='description') Description:
      input#description.form-control(type='text', placeholder='Laundry room/coat closet' name='description' value=(undefined===category ? '' : category.description))

    button.btn.btn-primary(type='submit') Submit

  if errors
   ul
    for error in errors
     li!= error.msg
